*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #e6e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form{
  outline: 1px solid #9a72b6cd;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px #9a72b6;
}

label{
  display: block;
}

input{
  padding: 0.5rem;
  border: 1px solid #9a72b6;
  border-radius: 5px;
  font-size: 1.5rem;
}

button{
  padding: 0.5rem;
  border: 1px solid #9a72b6;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: #9a72b6;
  color: white;
}